.masthead {
  height: 100vh;
  min-height: 500px;
  background-image: url("/assets/coronavirus.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
img#canada {
  border: 1px solid rgb(168, 15, 15);
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}
